<main>
  <h1>Nanaclicker</h1>
  <select class="select_amount" name="a" id="amount_of" (change)="changeAmount($event)">
    <option value="2">2</option>
    <option value="3">3</option>
    <option selected="selected" value="4">4</option>
  </select>
  <div class="user_list">
    <div *ngFor="let player of players; let index = index" class="user_input">
      <div [ngClass]="setClass(index)">
      </div>
      <input type="text"
             [placeholder]="'User #' + (index + 1) + ' name'"
             class="name_input"
             [(ngModel)]="player['name']">
    </div>
  </div>

  <button class="submit_button" (click)="onSubmit()">Submit</button>
</main>
